body {
    background-color: black;
    color: white;
    font-family: "DM Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    }
    
    .container {
    width: 90%;
    max-width: 1000px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    .box {
    background-color: black;
    border: 2px solid black;
    box-shadow: 0px 0px 15px #b8ffff; 
    border-radius: 10px;
    padding: 30px;
    margin: 40px 0; 
    width: 100%;
    min-height: 300px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    }
    
    .box h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #f0f0f0; 
    }
    
    .box p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: left;
    }
    


    body {
        background-color: black;
        color: white;
        font-family: "DM Sans", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 100vh;
        }
        
        .container {
        width: 90%;
        max-width: 1000px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        
        .box {
        background-color: black;
        border: 2px solid black;
        box-shadow: 0px 0px 15px #b8ffff; 
        border-radius: 10px;
        padding: 30px;
        margin: 40px 0; 
        width: 100%;
        min-height: 300px; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        }
        
        .box h3 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 20px;
        color: #f0f0f0; 
        }
        
        .box p {
        font-size: 1.2rem;
        margin-bottom: 20px;
        text-align: left;
        }
        
        
    
        .note{ margin-top: 30px;
            font-style: italic;
            font-size: small; 
            color: #999; }
        
        .qr-code {
        width: 150px;
        height: 150px;
        background-color: white; 
        margin: 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0px 0px 10px #b8ffff; 
        }
        
        .qr-code img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        }
        .popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: black;
        color: white;
        padding: 50px 70px; 
        border-radius: 15px;
        z-index: 1000;
        text-align: center;
        display: none; 
        width: 90%; 
        max-width: 600px; 
        border: 2px solid white; 
        }
        
        .popup p {
        font-size: 1.8rem; 
        line-height: 2; 
        margin: 0;
        }
        .code {
            user-select: none;
            display: flex;
            justify-content: center; 
            align-items: center;   
            text-align: center;}